body {
	background: url("grad_back/dawn-2.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	overflow-x: hidden;
}



.news_table {
	margin-top: 50px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 14px;
	background: white;
	/*border-collapse: collapse;*/
	text-align: left;
}

.news_table th {
  font-weight: normal;
  color: #039;
  border-bottom: 2px solid #6678b1; 
  padding: 10px 8px;
}

.news_table td {
  color: #669;
  padding: 9px 8px;
  transition: .3s linear;
}

.news_table tr:hover td {
  color: #6699ff;
}